push constant 0
push constant 1
lt
push constant 148
neg
push constant 15
lt
push constant 10000
push constant 10001
lt
push constant 89
push constant 14
lt
push constant 0
push constant 0
lt

